<h2 mat-dialog-title>{{ 'addProduct' | translate }}</h2>
<mat-dialog-content>
  <form [formGroup]="form">
    <div class="flex flex-col">
      <mat-form-field>
        <mat-label>{{ 'fields.productName' | translate }}</mat-label>
        <input [readonly]="data.admin" placeholder="Name" matInput formControlName="name" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{ 'fields.productDescription' | translate }}</mat-label>
        <textarea
          [readonly]="data.admin"
          placeholder="Description"
          rows="2"
          matInput
          formControlName="description"
        ></textarea>
      </mat-form-field>

      <div class="flex justify-between gap-1 flex-wrap">
        <mat-form-field>
          <mat-label>{{ 'fields.unit' | translate }}</mat-label>
          <mat-select formControlName="unit">
            @for (category of units; track category.id) {
            <mat-option [value]="category.id">{{ category?.name }}</mat-option>
            }
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{ 'fields.minQuantity' | translate }}</mat-label>
          <input [readonly]="data.admin" matInput formControlName="minQuantity" />
          @if(form.get('minQuantity')?.errors) {
          <mat-error>{{ formErrorMessage(form.get('minQuantity')!) | translate }}</mat-error>
          }
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{ 'fields.availability' | translate }}</mat-label>
          <input [readonly]="data.admin" matInput formControlName="availability" />
          @if(form.get('availability')?.errors) {
          <mat-error>{{ formErrorMessage(form.get('availability')!) | translate }}</mat-error>
          }
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{ 'fields.unitPrice' | translate }}</mat-label>
          <input [readonly]="data.admin" placeholder="1000" matInput formControlName="price" />
          <span matSuffix>֏</span>
          @if(form.get('price')?.errors) {
          <mat-error>{{ formErrorMessage(form.get('price')!) | translate }}</mat-error>
          }
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{ 'fields.deliveryOption' | translate }}</mat-label>
          <mat-select formControlName="deliveryOption">
            @for (option of options; track option.id) {
            <mat-option [value]="option.id">{{ option?.name }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>

      @if (data.admin) {
      <img class="w-40" [src]="form.getRawValue().image" />
      } @else {
      <mat-form-field>
        <mat-label>{{ 'fields.image' | translate }}</mat-label>
        <input readonly (click)="fileInput.click()" matInput formControlName="image" />
        <span matSuffix><mat-icon>folder_open</mat-icon></span>
      </mat-form-field>
      <input hidden (change)="uploadFile($event)" #fileInput type="file" id="file" />
      }
      <div class="flex justify-between flex-wrap gap-2">
        <mat-form-field>
          <mat-label>{{ 'fields.category' | translate }}</mat-label>
          <mat-select formControlName="category" (valueChange)="categoryChanged($event)">
            @for (category of data!.categories; track category.id) {
            <mat-option [value]="category.id">{{ category?.data?.name }}</mat-option>
            }
          </mat-select>
          @if(form.get('category')?.errors) {
          <mat-error>{{ formErrorMessage(form.get('category')!) | translate }}</mat-error>
          }
        </mat-form-field>

        <mat-form-field>
          <mat-label>{{ 'fields.subCategory' | translate }}</mat-label>
          <mat-select formControlName="subCategory" (valueChange)="subCategoryChanged($event)">
            @for (category of subCategories; track category.id) {
            <mat-option [value]="category.id">{{ category?.data?.name }}</mat-option>
            }
          </mat-select>
          @if(form.get('subCategory')?.errors) {
          <mat-error>{{ formErrorMessage(form.get('subCategory')!) | translate }}</mat-error>
          }
        </mat-form-field>

        @if (productCategories?.length) {
        <mat-form-field>
          <mat-label>{{ 'fields.productCategory' | translate }}</mat-label>
          <mat-select formControlName="productCategory">
            @for (category of productCategories; track category.id) {
            <mat-option [value]="category.id">{{ category?.data?.name }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        }
      </div>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">{{ 'buttons.cancel' | translate }}</button>
  <button mat-button [disabled]="form.invalid" (click)="submit()">
    {{
      (data.admin
        ? form.getRawValue()?.approved
          ? 'buttons.disable'
          : 'buttons.approve'
        : 'buttons.save'
      ) | translate
    }}
  </button>
</mat-dialog-actions>
