<mat-card appearance="outlined" class="m-2">
  <mat-card-content>
    <div class="w-100 flex justify-between gap-3 items-center">
      <img [src]="product.image || 'assets/homemade.webp'" class="h-[60px] w-[60px]" />
      <div>{{ product.name }}</div>
      <span>{{ product.price }}/{{ product.unit }}</span>
      <div>
        {{ product.quantity }}
      </div>

      <div>{{ product.price * product.quantity }}</div>
    </div>
    @if (product.comment) {
    <div>Comment: {{ product.comment }}</div>
    } @if (product.status === 'delivered') {

    <form [formGroup]="form" (ngSubmit)="rateProduct()" class="border border-gray-300">
      <app-star-input formControlName="stars"></app-star-input>

      <mat-form-field>
        <mat-label>{{ 'fields.comment' | translate }}</mat-label>
        <textarea placeholder="Comment" rows="2" matInput formControlName="comment"></textarea>
      </mat-form-field>

      <button mat-button [disabled]="form.invalid || form.disabled">
        {{ 'buttons.submit' | translate }}
      </button>
    </form>
    }
  </mat-card-content>
</mat-card>
