<div class="w-full flex justify-center justify-items-center items-center h-full reset-container">
  <div class="example-container">
    <h1>{{ 'reset-password.title' | translate }}</h1>
    @if (state() === 'success') {
      <p>{{ 'reset-password.success' | translate }}</p>
      <a class="link" routerLink="/login">{{ 'login.login' | translate }}</a>
    } @else if (state() === 'error') {
      <p>{{ 'reset-password.error' | translate }}</p>
      <a class="link" routerLink="/forgot-password">{{
        'reset-password.request-new' | translate
      }}</a>
    } @else {
      <form [formGroup]="form" (ngSubmit)="submit()" class="flex-col flex">
        <mat-form-field class="w-full">
          <mat-label>{{ 'fields.password' | translate }}</mat-label>
          <input
            type="password"
            matInput
            [placeholder]="'fields.password' | translate"
            formControlName="password"
            required
          />
          @if (form.get('password')?.invalid) {
            <mat-error>{{
              formErrorMessage(form.get('password')!) | translate: { number: 8 }
            }}</mat-error>
          }
        </mat-form-field>
        <mat-form-field class="w-full">
          <mat-label>{{ 'fields.rePassword' | translate }}</mat-label>
          <input
            type="password"
            matInput
            [placeholder]="'fields.rePassword' | translate"
            formControlName="rePassword"
            required
          />
          @if (form.get('rePassword')?.invalid) {
            <mat-error>{{
              formErrorMessage(form.get('rePassword')!) || 'messages.errors.match'
                | translate: { number: 8 }
            }}</mat-error>
          }
        </mat-form-field>
        <button [disabled]="form.invalid || loader" mat-raised-button>
          {{ 'buttons.submit' | translate }}
        </button>
      </form>
    }
  </div>
</div>
