<form [formGroup]="form" (ngSubmit)="formSubmit()" class="flex-col flex">
  <mat-form-field class="w-100">
    <mat-label>{{ 'fields.email' | translate }}</mat-label>
    <input matInput placeholder="pat@example.com" formControlName="email" required />
    @if (form.get('email')?.invalid) {
    <mat-error>{{ 'messages.errors.email' | translate }}</mat-error>
    }
  </mat-form-field>

  <mat-form-field class="w-100">
    <mat-label>{{ 'fields.phone' | translate }}</mat-label>
    <input matInput placeholder="+37410123456" formControlName="phoneNumber" />
    @if (form.get('phoneNumber')?.invalid) {
    <mat-error>{{ formErrorMessage(form.get('phoneNumber')!) | translate }}</mat-error>
    }
  </mat-form-field>

  <mat-form-field class="w-100">
    <mat-label>{{ 'fields.name' | translate }}</mat-label>
    <input matInput placeholder="Name" formControlName="name" />
    @if (form.get('name')?.invalid) {
    <mat-error>{{ formErrorMessage(form.get('name')!) | translate }}</mat-error>
    }
  </mat-form-field>

  <mat-form-field class="w-100">
    <mat-label>{{ 'fields.surname' | translate }}</mat-label>
    <input matInput placeholder="Surname" formControlName="surname" />
    @if (form.get('surname')?.invalid) {
    <mat-error>{{ formErrorMessage(form.get('surname')!) | translate }}</mat-error>
    }
  </mat-form-field>

  <mat-form-field class="w-100">
    <mat-label>{{ 'fields.password' | translate }}</mat-label>
    <input type="password" matInput placeholder="password" formControlName="password" required />
    @if (form.get('password')?.invalid) {
    <mat-error>{{ formErrorMessage(form.get('password')!) | translate : { number: 6 } }}</mat-error>
    }
  </mat-form-field>

  <mat-form-field class="w-100">
    <mat-label>{{ 'fields.rePassword' | translate }}</mat-label>
    <input
      type="password"
      matInput
      placeholder="re password"
      formControlName="rePassword"
      required
    />
    @if (form.get('rePassword')?.invalid) {
    <mat-error>{{
      formErrorMessage(form.get('rePassword')!) || 'messages.errors.match'
    }}</mat-error>
    }
  </mat-form-field>

  // Address form
  <div class="w-[400px] flex flex-col" formGroupName="address">
    <div class="flex gap-3">
      <mat-form-field>
        <mat-label>region</mat-label>
        <mat-select formControlName="region" (valueChange)="regionChange($event)">
          @for (region of regions(); track region) {
          <mat-option [value]="region">{{ region }}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      @if (cities()) {
      <mat-form-field>
        <mat-label>city</mat-label>
        <mat-select formControlName="city">
          @for (city of citiesList;let id = $index; track id) {
          <mat-option [value]="city.city">{{ city.city }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      }
    </div>
    <mat-form-field>
      <mat-label>Street</mat-label>
      <input matInput placeholder="Street" formControlName="street" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>House</mat-label>
      <input matInput placeholder="House" formControlName="house" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Zip</mat-label>
      <input matInput placeholder="zip" formControlName="zip" />
    </mat-form-field>
  </div>

  <div class="w-100 flex justify-between">
    <a href="" routerLink="/" mat-raised-button>{{ 'buttons.back' | translate }}</a>
    <button [disabled]="form.invalid" mat-flat-button>
      {{ 'buttons.submit' | translate }}
    </button>
  </div>
</form>
