<mat-card class="card">
  <!-- Cooker's Photo and Name -->
  <div class="cooker-info mt-2">
    @if (product.userPhoto) {
    <img [src]="product.userPhoto" alt="Cooker" class="cooker-photo ml-2" />
    } @else {
    <mat-icon class="text-4xl cooker-photo">person</mat-icon>
    }
    <span class="cooker-name">{{ product.userDisplayName }}</span>
  </div>

  <img
    mat-card-image
    class="product_img object-cover"
    [src]="product.image || 'assets/homemade.webp'"
    alt="Product"
  />

  <mat-card-content>
    <h2 class="card-title">{{ product.name }}</h2>
    <p class="card-description">{{ product.description.slice(0, 17) }}</p>

    <!-- Rating Section -->
    <div class="rating">
      <ngx-stars [color]="'#28a745'" [initialStars]="product.avgReview" [readonly]="true" />
      <span class="rating-text">({{ product.avgReview | number : '1.1-1' }})</span>
    </div>

    <div class="card-footer">
      <span class="price" matTooltip="price for unit">{{ product.price }}</span>
      <span
        class="price"
        [matTooltip]="'Minimum quantity ' + product.minQuantity + ' ' + $any(units)[product.unit]"
        >{{ $any(units)[product.unit] }}</span
      >
      <button
        [disabled]="product.availability === 0"
        (click)="handleAddToCard(product)"
        mat-button
        color="primary"
      >
        Add to Cart
      </button>
    </div>
  </mat-card-content>
</mat-card>
