.example-container {
  width: 400px;
}

.login-container {
  min-height: 100vh;
}

:host::ng-deep {
  .mat-mdc-tab-body-content {
    overflow: unset !important;
  }
  .mat-mdc-tab-body.mat-mdc-tab-body-active {
    overflow: unset !important;
  }
}
