<div class="w-full flex justify-center justify-items-center items-center login-container">
  <div class="example-container">
    <h1>{{ 'registration.registration' | translate }}</h1>

    <mat-tab-group>
      <mat-tab label="Customer">
        <ng-template matTabContent>
          <app-customer-form (onFormSubmit)="fireAuthentication($any($event))"></app-customer-form>
        </ng-template>
      </mat-tab>

      @if (!token) {
      <mat-tab label="Business">
        <ng-template matTabContent>
          <app-business-form (onFormSubmit)="fireAuthentication($any($event))"></app-business-form>
        </ng-template>
      </mat-tab>
      }
    </mat-tab-group>
  </div>
</div>
