.card {
  width: 300px;
  height: 440px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.cooker-info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.cooker-photo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.cooker-name {
  font-size: 1em;
  font-weight: bold;
}

.rating {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.star {
  color: #f1c40f;
}

.star.empty {
  color: #ddd;
}

.rating-text {
  font-size: 0.9em;
  margin-left: 5px;
  color: #555;
}

.price {
  font-size: 1.2em;
  color: #28a745;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

button.mat-button {
  transition: background-color 0.3s ease;
}

button.mat-button:hover {
  background-color: #0056b3; /* Darker shade on hover */
}

.product_img {
  height: 225px;
}
