<mat-toolbar class="navbar-toolbar sticky top-0 z-10">
  <button
    mat-icon-button
    class="nav-icon-btn"
    (click)="toggleSidebar()"
    aria-label="Toggle navigation menu"
  >
    <mat-icon>menu</mat-icon>
  </button>

  <a routerLink="" class="brand" aria-label="Tnakan home">
    <span class="brand-name">Tnakan</span>
    <span class="brand-eyebrow">ՏՆԱԿԱՆ · HOMEMADE</span>
  </a>

  <span class="example-spacer"></span>

  @if (user()?.type === 'customer') {
  <a
    mat-icon-button
    [routerLink]="basket().length ? ['/basket'] : []"
    class="nav-icon-btn"
    aria-label="Basket"
  >
    <mat-icon [matBadge]="basket().length">shopping_cart</mat-icon>
  </a>
  }
  <button mat-icon-button class="nav-icon-btn" aria-label="Account menu" [matMenuTriggerFor]="menu">
    <mat-icon>person</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    @if (user(); as userdata) {
    <a routerLink="/profile/{{ userdata?.type }}" mat-menu-item>{{
      'navbar.profile' | translate
    }}</a>
    <a routerLink="/settings" mat-menu-item>{{ 'navbar.settings' | translate }}</a>
    <a (click)="logout()" mat-menu-item>{{ 'navbar.logout' | translate }}</a>
    } @else {
    <a routerLink="login" mat-menu-item>{{ 'login.login' | translate }}</a>
    <a routerLink="/registration" mat-menu-item>{{ 'navbar.register' | translate }}</a>
    }
  </mat-menu>

  <button
    mat-icon-button
    class="nav-icon-btn"
    (click)="redirectToOrders()"
    aria-label="Notifications"
  >
    <mat-icon [matBadge]="notifications?.()?.length">notifications</mat-icon>
  </button>
  <button
    mat-icon-button
    class="nav-icon-btn"
    aria-label="Change language"
    [matMenuTriggerFor]="lang"
  >
    <mat-icon>language</mat-icon>
  </button>
  <mat-menu #lang="matMenu">
    <button (click)="changeLanguage('en')" mat-menu-item>
      {{ 'languages.english' | translate }}
    </button>
    <button (click)="changeLanguage('rus')" mat-menu-item>
      {{ 'languages.russian' | translate }}
    </button>
    <button (click)="changeLanguage('hy')" mat-menu-item>
      {{ 'languages.armenian' | translate }}
    </button>
  </mat-menu>
</mat-toolbar>
