<div class="w-full flex justify-center justify-items-center items-center h-full login-container">
  <div class="example-container">
    <h1>{{ 'login.login' | translate }}</h1>
    <form [formGroup]="form" (ngSubmit)="login()" class="flex-col flex">
      <mat-form-field class="w-full">
        <mat-label>{{ 'fields.email' | translate }}</mat-label>
        <input
          matInput
          placeholder="pat@example.com"
          formControlName="email"
          (blur)="updateErrorMessage()"
          required
        />
        @if (email?.invalid) {
        <mat-error>{{ 'messages.errors.' + emailErrorMessage() | translate }}</mat-error>
        }
      </mat-form-field>
      <mat-form-field class="w-full">
        <mat-label>{{ 'fields.password' | translate }}</mat-label>
        <input
          type="password"
          matInput
          placeholder="password"
          formControlName="password"
          (blur)="updateErrorMessage()"
          required
        />
        @if (password?.invalid) {
        <mat-error>{{ 'messages.errors.' + passErrorMessage() | translate }}</mat-error>
        }
      </mat-form-field>
      <button [disabled]="form.invalid" mat-raised-button>Submit</button>
      <a class="link" routerLink="/forgot-password">{{ 'login.forgot' | translate }}</a>
    </form>
  </div>
</div>
