<div class="mb-6">
  <div class="flex justify-center">
    <p class="mat-h3" style="font-size: 24px">Top Sellers</p>
  </div>
  <owl-carousel-o [options]="customOptions">
    @for (slide of carouselData; track slide) {
    <ng-template carouselSlide>
      <div class="slide">
        <img [src]="slide.src" style="height: 250px" />
        <div class="flex">
          <a class="outer-link seller-info m-2" [href]="slide.sellerUrl">
            <span>{{ slide.text }}</span>
          </a>
          <div class="flex items-center">
            <ngx-stars [color]="'#28a745'" [initialStars]="slide.avgReview" [readonly]="true" />
            <span class="rating-text">({{ slide.avgReview | number : '1.1-1' }})</span>
          </div>
        </div>
      </div>
    </ng-template>
    }
  </owl-carousel-o>
</div>
