<div class="mb-6">
  <div class="flex justify-center">
    <p class="mat-h3" style="font-size: 24px">Top Products</p>
  </div>
  <owl-carousel-o [options]="customOptions">
    @for (slide of carouselData(); track slide) {
    <ng-template carouselSlide>
      <a class="outer-link seller-info m-2" [href]="slide.url">
        <div class="slide">
          <img [alt]="slide.src" [src]="slide.src" style="height: 250px" />
          <div class="flex">
            <div class="flex items-center justify-center gap-2">
              <span class="pl-2">{{ slide.text }}</span>
              <ngx-stars [color]="'#28a745'" [initialStars]="slide.avgReview" [readonly]="true" />
              <span class="rating-text">({{ slide.avgReview | number : '1.1-1' }})</span>
            </div>
          </div>
        </div>
      </a>
    </ng-template>
    }
  </owl-carousel-o>
</div>
