<form [formGroup]="form" (ngSubmit)="formSubmit()" class="flex-col flex">
  <mat-form-field class="w-100">
    <mat-label>{{ 'fields.email' | translate }}</mat-label>
    <input matInput placeholder="pat@example.com" formControlName="email" required />
    @if (form.get('email')?.invalid) {
    <mat-error>{{ formErrorMessage(form.get('email')!) | translate }}</mat-error>
    }
  </mat-form-field>

  <mat-form-field class="w-100">
    <mat-label>{{ 'fields.phone' | translate }}</mat-label>
    <input matInput placeholder="+37499123456" formControlName="phoneNumber" required />
    @if (form.get('phoneNumber')?.invalid) {
    <mat-error>{{ formErrorMessage(form.get('phoneNumber')!) | translate }}</mat-error>
    }
  </mat-form-field>

  <mat-form-field class="w-100">
    <mat-label>{{ 'fields.company' | translate }}</mat-label>
    <input matInput placeholder="Poxos Poxosyan" formControlName="company" />
    @if (form.get('company')?.invalid) {
    <mat-error>{{ formErrorMessage(form.get('company')!) | translate }}</mat-error>
    }
  </mat-form-field>

  <mat-form-field class="w-100">
    <mat-label>{{ 'fields.hvhh' | translate }}</mat-label>
    <input matInput placeholder="01234567" formControlName="hvhh" />
    @if (form.get('hvhh')?.invalid) {
    <mat-error>{{ 'messages.errors.number' | translate }}</mat-error>
    }
  </mat-form-field>

  <mat-form-field class="w-100">
    <mat-label>{{ 'fields.password' | translate }}</mat-label>
    <input type="password" matInput placeholder="password" formControlName="password" required />
    @if (form.get('password')?.invalid) {
    <mat-error>{{ 'messages.errors.pass' | translate }}</mat-error>
    }
  </mat-form-field>

  <mat-form-field class="w-100">
    <mat-label>{{ 'fields.rePassword' | translate }}</mat-label>
    <input
      type="password"
      matInput
      placeholder="re password"
      formControlName="rePassword"
      required
    />
    @if (form.get('rePassword')?.invalid) {
    <mat-error>{{ 'messages.errors.match' | translate }}</mat-error>
    }
  </mat-form-field>

  <div class="w-100 flex justify-between">
    <button [disabled]="form.invalid" mat-flat-button>
      {{ 'buttons.submit' | translate }}
    </button>
    <a href="" routerLink="/" mat-raised-button>{{ 'buttons.back' | translate }}</a>
  </div>
</form>
