<form [formGroup]="orderForm" (ngSubmit)="placeOrder()">
  <mat-stepper linear>
    <mat-step formGroupName="products" [stepControl]="$any(orderForm.get('products'))">
      <ng-template matStepLabel>Orders</ng-template>

      @for (product of products(); track product.id; let idx = $index) {
      <mat-card appearance="outlined" class="m-2" [formArrayName]="idx">
        <mat-card-header class="flex justify-between">
          <mat-card-title>{{ product.name }}</mat-card-title>

          <button mat-icon-button (click)="removeItem(product)">
            <mat-icon>close</mat-icon>
          </button>
        </mat-card-header>
        <mat-card-content>
          <div class="w-100 relative flex flex-col md:flex-row justify-between gap-3 items-center">
            <img
              [src]="product.image || 'assets/homemade.webp'"
              alt="product image"
              class="h-[60px] w-[60px]"
            />
            <span>{{ product.price }}/{{ product.unit }}</span>
            <div>
              <mat-form-field>
                <mat-label>{{ product.unit }}</mat-label>
                <input
                  matInput
                  min="{{ product?.minQuantity || 1 }}"
                  (change)="calculateTotal()"
                  formControlName="quantity"
                />
                @if(orderForm.get('products.'+idx+'.quantity')?.errors) {
                <mat-error>{{
                  formErrorMessage(orderForm.get('products.' + idx + '.quantity')!)
                    | translate : { min: product.minQuantity, max: product.availability }
                }}</mat-error>
                }
              </mat-form-field>
            </div>
            <div>
              <mat-form-field>
                <mat-label>Comment</mat-label>
                <input
                  matInput
                  min="{{ product?.minQuantity || 1 }}"
                  (change)="calculateTotal()"
                  formControlName="comment"
                />
              </mat-form-field>
            </div>

            <div>
              {{ product.price * (orderForm.get('products.' + idx + '.quantity')?.value || 1) }}
            </div>
          </div>
        </mat-card-content>
      </mat-card>
      }
      <div class="flex justify-end mr-2">Total: {{ total }}</div>
      <div>
        <button mat-button matStepperNext type="button">Next</button>
      </div>
    </mat-step>
    <mat-step formGroupName="address" [stepControl]="$any(orderForm.get('address'))">
      <ng-template matStepLabel>Address</ng-template>

      <div class="w-[400px] flex flex-col">
        <div class="flex gap-3">
          <mat-form-field>
            <mat-label>region</mat-label>
            <mat-select formControlName="region" (valueChange)="regionChange($event)">
              @for (region of regions(); track region) {
              <mat-option [value]="region">{{ region }}</mat-option>
              }
            </mat-select>
          </mat-form-field>

          @if (cities()) {
          <mat-form-field>
            <mat-label>city</mat-label>
            <mat-select formControlName="city">
              @for (city of citiesList;let id = $index; track id) {
              <mat-option [value]="city.city">{{ city.city }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
          }
        </div>
        <mat-form-field>
          <mat-label>Street</mat-label>
          <input matInput placeholder="Street" formControlName="street" />
        </mat-form-field>

        <mat-form-field>
          <mat-label>House</mat-label>
          <input matInput placeholder="House" formControlName="house" />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Zip</mat-label>
          <input matInput placeholder="zip" formControlName="zip" />
        </mat-form-field>
      </div>
      <div>
        <button mat-button matStepperPrevious type="button">Back</button>
        <button mat-button matStepperNext type="button">Next</button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Payment</ng-template>
      <button mat-button matStepperPrevious type="button">Back</button>
      <button mat-button matStepperNext type="submit">Next</button>
    </mat-step>
  </mat-stepper>
</form>
