<mat-toolbar class="sticky top-0 z-10">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>{{ 'title' | translate }}</span>
  <span class="example-spacer"></span>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
    [matMenuTriggerFor]="menu"
  >
    <mat-icon>person</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    @if (user$ | async; as userdata) {
    <a routerLink="/profile/{{ userdata?.type }}" mat-menu-item>Profile</a>
    <a (click)="logout()" mat-menu-item>Logout</a>
    } @else {
    <a (click)="logout()" mat-menu-item>Login</a>
    <a routerLink="/registration" mat-menu-item>Register</a>
    }
  </mat-menu>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
    [matMenuTriggerFor]="lang"
  >
    <mat-icon>language</mat-icon>
  </button>
  <mat-menu #lang="matMenu">
    <button (click)="changeLanguage('en')" mat-menu-item>
      {{ 'languages.english' | translate }}
    </button>
    <button (click)="changeLanguage('rus')" mat-menu-item>
      {{ 'languages.russian' | translate }}
    </button>
    <button (click)="changeLanguage('hy')" mat-menu-item>
      {{ 'languages.armenian' | translate }}
    </button>
  </mat-menu>
</mat-toolbar>

<router-outlet />
<app-footer />
