<div class="w-full flex justify-center justify-items-center items-center h-full forgot-container">
  <div class="example-container">
    <h1>{{ 'forgot-password.title' | translate }}</h1>
    @if (sent()) {
    <p>{{ 'forgot-password.sent' | translate }}</p>
    <a class="link" routerLink="/login">{{ 'login.login' | translate }}</a>
    } @else {
    <form [formGroup]="form" (ngSubmit)="submit()" class="flex-col flex">
      <mat-form-field class="w-full">
        <mat-label>{{ 'fields.email' | translate }}</mat-label>
        <input matInput placeholder="pat@example.com" formControlName="email" required />
        @if (form.get('email')?.invalid) {
        <mat-error>{{ formErrorMessage(form.get('email')!) | translate }}</mat-error>
        }
      </mat-form-field>
      <button [disabled]="form.invalid || loader" mat-raised-button>
        {{ 'buttons.submit' | translate }}
      </button>
    </form>
    }
  </div>
</div>
