<!-- Main container -->
<div class="container mx-auto p-6 bg-white shadow-lg rounded-lg">
  <!-- Product Box -->
  <div class="grid md:grid-cols-2 gap-6">
    <!-- Left Column (Image and Thumbnail Slider) -->
    <div>
      <img [src]="product?.image" alt="Snack Box Image" class="w-full rounded-lg" />
    </div>

    <!-- Right Column (Product Info) -->
    <div>
      <!-- Title and Pricing -->
      <h1 class="text-3xl font-bold mb-2">{{ product?.name }}</h1>
      <p class="text-2xl font-semibold text-green-600">{{ product?.price }}</p>

      <!-- Quantity -->
      <div class="flex items-center space-x-4 my-4">
        <label class="block text-sm font-medium text-gray-700">Quantity</label>
        <input
          type="number"
          class="w-16 border rounded-md p-2 text-center"
          [value]="product?.minQuantity"
          [min]="product?.minQuantity"
        />
        <span>{{ product?.unit }}</span>
      </div>

      <!-- Action Buttons -->
      <div class="flex space-x-4 mt-6">
        <button
          class="bg-green-500 text-white px-6 py-3 rounded-lg shadow-md hover:bg-green-600"
          (click)="handleAddToCard(product)"
        >
          Add to Cart
        </button>
      </div>

      <!-- Stock and Tags -->
      <div class="flex items-center mt-6 space-x-4">
        <mat-tab-group (selectedTabChange)="handleTabChange($event)">
          <mat-tab label="Description">
            <p class="my-4 mb-0 text-base font-normal leading-relaxed tracking-wide text-gray-400">
              {{ product?.description }}
            </p>
          </mat-tab>
          <mat-tab label="Reviews({{ product?.avgReview }})">
            <ng-template matTabContent>
              <div
                class="max-h-[600px] overflow-y-auto [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-track]:bg-white-100 [&::-webkit-scrollbar-thumb]:bg-green-500 dark:[&::-webkit-scrollbar-track]:bg-white-700 dark:[&::-webkit-scrollbar-thumb]:bg-green-500"
              >
                <app-reviews [reviews]="reviewsList" />
              </div>
            </ng-template>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>
