<div class="container mx-auto">
  @for (order of orders$ | async; track order.orderId) {
  <mat-expansion-panel (expandedChange)="orderSeen(order)">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{
          order.address.region === order.address.city
            ? order.address.region
            : order.address.region + ', ' + order.address.city
        }},
        {{ order.address.street }}
        {{ order.address.apartment && ',' }}
        {{ order.address.zip }}
      </mat-panel-title>
      <mat-panel-description class="flex justify-between items-center">
        {{ order.products.length }} products
      </mat-panel-description>
    </mat-expansion-panel-header>

    <ng-template matExpansionPanelContent>
      @for (product of order.products; track product.id) {
      <app-order-item [product]="product"></app-order-item>
      }
    </ng-template>
  </mat-expansion-panel>
  }
</div>
