<h2 mat-dialog-title>
  {{ 'buttons.update-password' | translate }}
</h2>
<mat-dialog-content>
  <div class="w-100 flex flex-col gap-4" [formGroup]="form">
    <mat-form-field class="w-100">
      <mat-label>{{ 'fields.password' | translate }}</mat-label>
      <input type="password" matInput placeholder="password" formControlName="password" required />
      @if (form.get('password')?.invalid) {
      <mat-error>{{
        formErrorMessage(form.get('password')!) | translate : { number: 6 }
      }}</mat-error>
      }
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>{{ 'fields.rePassword' | translate }}</mat-label>
      <input
        type="password"
        matInput
        placeholder="re password"
        formControlName="rePassword"
        required
      />
      @if (form.get('rePassword')?.invalid) {
      <mat-error>{{
        formErrorMessage(form.get('rePassword')!) || 'messages.errors.match' | translate
      }}</mat-error>
      }
    </mat-form-field>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">{{ 'buttons.cancel' | translate }}</button>
  <button
    [disabled]="!form.valid || form.value.password !== form.value.rePassword"
    mat-button
    [mat-dialog-close]="save()"
    cdkFocusInitial
  >
    {{ 'buttons.save' | translate }}
  </button>
</mat-dialog-actions>
